<!--<p>
  home-page works!
</p>
<select name="city">
  <option [value]="city" *ngFor="let city of cities"> {{city}}</option>

</select>
-->
<div class="container">
  <h1>Enter your city</h1>
  <!--
  <form>
      <select class="form-control" name="currentCity" id="power" required>
        <option *ngFor="let city of cities" [value]="city">{{city}}</option>
      </select>


  </form>
    <mat-form-field>
    <mat-select [(value)]=" selected">
      <mat-option>None</mat-option>
      <mat-option value="option1">Option 1</mat-option>
      <mat-option value="option2">Option 2</mat-option>
      <mat-option value="option3">Option 3</mat-option>
    </mat-select>
  </mat-form-field>
-->
  <mat-form-field>
    <mat-select [(value)]=" selected">
      <mat-option *ngFor="let city of cities" [value]="city">{{city}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div *ngIf="selected">
  <div *ngFor= " let doctor  of dataSource">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{doctor.name}}</mat-card-title>
        <mat-card-subtitle>{{doctor.type}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Located in {{selected}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="checking(doctor)">BookAppointment</button>
      </mat-card-actions>
    </mat-card>
  </div>

</div>

<div *ngIf="valid">

  <app-doctor-details [samp]=id></app-doctor-details>


</div>


